/*---------------------------------------------------------------
    07 - Trip Planner Form Addition to Vanity Site
-------------------------------------------------------------- */

body{font-size:16px; font-weight: bold; font-weight: 700; margin: 0;} /* Setting Base Font Size for Responsive Design */

fieldset {border: none; font-size: .8em; margin: 0; padding: 0; text-transform: uppercase;}

fieldset a {text-decoration: none; color: #333;}

fieldset.second-line {padding-top: 1em;}

fieldset span {text-transform: uppercase; font-weight: bold; font-weight: 700;}

input.button {display: inline-block; cursor: pointer; -webkit-font-smoothing: antialiased; -webkit-appearance: none; -webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out;}

input.button.submit {background-color: #333; border: 1px solid #b2b2b2; color: #FFF; font-family: "ff-din-web", sans-serif; font-size: 1em; padding: 12px 17px 15px; text-transform: uppercase; font-weight: bold; font-weight: 700; border-radius: 10px;}

input.button.submit:hover {background: #0A738E; border: 1px solid #FFF;}

input[type="text"] {border: 1px solid #b2b2b2; height: 2.5em; width: 400px; font-size: 1em; margin-right: 2.5em; padding-left: 1em;}

p.lefttoright {float: left; margin: 0 .8em 1em 0; padding: 0;}

select {
    background: url("../images/chevron_down.png"); 
    background-color: #FFF; 
    background-position: right 0px top -2px; 
    background-repeat: no-repeat; 
    background-size: 24px 48px; 
    border: 1px solid #b2b2b2;
    display: inline-block; 
    font-size: 1em;
    height: 3em;
    margin: 0 10px 0 0; 
    outline: 0;
    padding: 12px 0 12px 12px; 
    text-overflow: '';
    -moz-appearance: none;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: left;
    /*width: 100%;*/
    } 

select#hour0, select#min0, select#ampm0 {width: 4.5em;}

select#day0 {width: 7.5em;}

.expo-form {margin: 0 auto; max-width: 981px;}

.form-container {background: #27c0e8; /*border: 1px solid #b2b2b2; border-radius: 10px;*/ color: #333; font-family: 'ff-scala-sans-web-sc', "ff-scala-sans-web", sans-serif; font-size: 1.2em; letter-spacing: 1.0; line-height: 1.3; margin: 0; padding: 1.5% 3% 3%; width: 100%;}

.expo-form h2 {color:#FFF; font-family: "ff-scala-sans-web",sans-serif; font-size: 1.3em; margin: 0 0 .3em; padding: 0;}

.radio-leftfield {float: left; margin-right: 3em; margin-top: 1em;}

.tooltip {display: inline; font-weight: normal; position: relative; text-transform: none;} /* Tooltip */

.tooltip:hover:after {background: #FFF; border-radius: 3px; bottom: -85px; box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.3); color: #333; content: attr(title); left: 60px; padding: 5px 10px; position: absolute; z-index: 98; width: 220px;} /* Tooltip Position */

.tooltip:hover:before {border: solid; border-color: #FFF transparent; border-width: 0px 9px 9px 9px; bottom: -20px; content: ""; left: 75px; position: absolute; z-index: 99;} /* Arrow */

/* ------------------------------
    07a - Form Media Queries
------------------------------- */
@media only screen and (min-width: 400px;) {

/*@media screen and (max-width: 23.4375;) {*/
    select {float: none; width: 95%; margin: 0;}
    fieldset {margin: 1em 0; padding: 0; /*width:21.5em;*/}
    input[type="text"] {float: none; margin: 0 0 1em; width: 95%;}
    input.button.submit {font-size: .8em;}
    p.lefttoright {/* float: left; margin: 0 .8em 1em 0; */padding: 0;}
    .form-container {padding: 10%; margin: 0;}
    .expo-form {margin: 0; width: 0;}
    .expo-form h2 {font-size: 1.1em; margin: 0 0 .3em;}
    .radio-leftfield {/*float:left; */margin: .5em 0 1em; width: 100%;}
}


