body, html {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FCB813; /* Metro Gold */
} /* What does this do? */

body { font-family: "ff-din-web", 'Oswald', sans-serif; }

/* -----------------------------------------
   02 - Menu
-------------------------------------------*/

nav#menu {
  font-weight: 700 !important; 
  height: 80px;
  padding: 2% 3%;
  position: absolute;
  width: 100%;
  z-index: 200;
}

nav#menu img {
  float: left;
}

a { text-decoration: none; color: rgb(252, 184, 19); }

a:hover { color: #FEFDC5; }  /* Metro Gold, Hover */

div#logo-container {
  width: 100%;
}

div#logo-container img {
  float: left;
}

div#vehicle-menu ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0 6%;
  width: 50%;
  float: right;
}

div#vehicle-menu li {
  padding: 3%;
  float: right;
} /* floats menu to the left of the logo */

section { display: block; }

span { font-weight: 700; font-family: "ff-din-web", 'Oswald', sans-serif; }

p, .crop-01, .crop-02, .crop-03, .crop-04, .crop-05 { visibility: hidden; }

/* -----------------------------------------
   05 - Animation
-------------------------------------------*/

.lightrail .vehicle {
  height: 768px;
}

.vehicle {
  position: absolute;
  top: 3%;
  left: 20%;
  width: 1024px;
  z-index: 100;

  animation-name: slideInDiagonal; 
  -webkit-animation-name: slideInDiagonal; 

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-out; /* smoothes out animation */
  -webkit-animation-timing-function: ease-out; /* smoothes out animation */

  animation-iteration-count: 1; /* number of times to loop */
 -webkit-animation-iteration-count: 1; /* number of times to loop */

  animation-fill-mode: forwards; /* keeps animation in its last keyframe */        
  -webkit-animation-fill-mode: forwards; /* keeps animation in its last keyframe */        
}

.vehicle-container {
  background-color: #7A7A7A;
  clear: both;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.vehicle-container .vehicle div {
  position: absolute;
  display: block;
  width: 100%;
} /* layers the images on top of each other and animates the container onto the stage */

/* Vehicle ------------------------------- */

.lrlayer-01 {
	background-image: url("../images/layer-01.svg");
	background-repeat: no-repeat;
	height: 100%; /* 386(w) x 487(h) */
  z-index: 100;  
} 

.lrlayer-02 {
	background-image: url("../images/layer-02.svg");
	background-repeat: no-repeat;
	height: 100%; /* 686(w) x 672(h) */
	z-index: 80;
} 

.lrlayer-03 {
	background-image: url("../images/layer-03.svg");
	background-repeat: no-repeat;
 	height: 100%; /* 424(w) x 206(h) */
	z-index: 60;
}

.lrlayer-04 {
	background-image: url("../images/layer-04.svg");
	background-repeat: no-repeat;
	height: 100%; /* 702(w) x 653(h) */
}

.lrlayer-05 {
  background-image: url("../images/layer-05.svg");
  background-repeat: no-repeat;
  height: 100%; /* 1425(w) x 1038(h); */
  z-index: 15;
  left: -70px;
  top: 25px;
}

.lrlayer-06 {
  background-image: url("../images/layer-06.svg");
  background-repeat: no-repeat;
  height: 100%; /* 1425(w) x 1038(h); */
  z-index: 0;
}

/* ----------------------------------------------
   03 - CSS3 Animation, Pop-up and Explosions
----------------------------------------------- */

/* ---------- Train In, Diagonal ------------- */

@-webkit-keyframes slideInDiagonal { 
    0% { -webkit-transform: translatex(130%) translatey(-80%); } /* NOTE: For Safari, you MUST have  -webkit-transform in the animation in order to work!!! Ugh. Refer to stackoverflow page bookmmarked. 3/20 */
    100% { -webkit-transform: translatex(0%) translatey(0%); }
}

@-moz-keyframes slideInDiagonal {
    0% { transform: translatex(130%) translatey(-80%); }
    100% { transform: translatex(0%) translatey(0%); }
}

@-o-keyframes slideInDiagonal {
    0% { transform: translatex(130%) translatey(-80%); }
    100% { transform: translatex(0%) translatey(0%); }
}

@keyframes slideInDiagonal {
    0% {transform: translatex(130%) translatey(-80%);}
    100% {transform: translatex(0%) translatey(0%);}
}

/* ----------- Diagonal Move ----------------- */

@-webkit-keyframes slideDiagonal { 
    0% { -webkit-transform: translatex(0%) translatey(0%); }
    100% { -webkit-transform: translatex(-30%) translatey(15%); }
}

@-moz-keyframes slideDiagonal {
    0% { transform: translatex(0%) translatey(0%); }
    100% { transform: translatex(-30%) translatey(15%); }
}

@-o-keyframes slideDiagonal {
    0% { transform: translatex(0%) translatey(0%); }
    100% { transform: translatex(-30%) translatey(15%); }
}

@keyframes slideDiagonal {
    0% {transform: translatex(0%) translatey(0%);}
    100% {transform: translatex(-30%) translatey(15%);}
}

/* ----------- Slide Left ----------------- */

@-webkit-keyframes slideLeft {
    from{-webkit-transform: translateX(0%);}
    to{-webkit-transform: translateX(-25%);}
}

@-moz-keyframes slideLeft {
    from{-moz-transform: translateX(0%);}
    to{-moz-transform: translateX(-25%);}
}

@-o-keyframes slideLeft {
    from{-o-transform: translateX(0%);}
    to{-o-transform: translateX(-25%);}
}

@keyframes slideLeft {
    from{transform: translateX(0%);}
    to{transform: translateX(-25%);}
}

/* ----------- Slide Further Left ----------------- */

@-webkit-keyframes slideFarleft {
    from{-webkit-transform: translateX(-200%);}
    to{-webkit-transform: translateX(0%);}
}

@-moz-keyframes slideFarleft {
    from{-webkit-transform: translateX(-200%);}
    to{-webkit-transform: translateX(0%);}
}

@-o-keyframes slideFarleft {
    from{-webkit-transform: translateX(-200%);}
    to{-webkit-transform: translateX(0%);}
}

@keyframes slideFarleft {
    from{transform: translateX(-200%);}
    to{transform: translateX(0%);}
}

/* ----------- Slide Right ----------------- */

@-webkit-keyframes slideRight {
    from{-webkit-transform: translateX(0%);}
    to{-webkit-transform: translateX(20%);}
}

@-moz-keyframes slideRight {
    from{-webkit-transform: translateX(0%);}
    to{-webkit-transform: translateX(20%);}
}

@-o-keyframes slideRight {
    from{-webkit-transform: translateX(0%);}
    to{-webkit-transform: translateX(20%);}
}

@keyframes slideRight {
    from{transform: translateX(0%);}
    to{transform: translateX(20%);}
}

/* ----------- Slide Up ----------------- */

@-webkit-keyframes slideUp {
    from{-webkit-transform: translateY(0%);}
    to{-webkit-transform: translateY(-25%);}
}

@-moz-keyframes slideUp {
    from{-webkit-transform: translateY(0%);}
    to{-webkit-transform: translateY(-25%);}
}

@-o-keyframes slideUp {
    from{-webkit-transform: translateY(0%);}
    to{-webkit-transform: translateY(-25%);}
}

@keyframes slideUp {
    from{transform: translateY(0%);}
    to{transform: translateY(-25%);}
}

/* ----------- Fade In ----------------- */

@-webkit-keyframes fadeIn {
  0% { -webkit-transform: scale(0); opacity: 0.0; }
  60% { -webkit-transform: scale(1.1); }
  80% { -webkit-transform: scale(0.9); opacity: 1; }  
  100% { -webkit-transform: scale(1); opacity: 1; }   
}

@-moz-keyframes fadeIn {
  0% { -webkit-transform: scale(0); opacity: 0.0; }
  60% { -webkit-transform: scale(1.1); }
  80% { -webkit-transform: scale(0.9); opacity: 1; }  
  100% { -webkit-transform: scale(1); opacity: 1; }   
}

@-o-webkit-keyframes fadeIn {
  0% { -webkit-transform: scale(0); opacity: 0.0; }
  60% { -webkit-transform: scale(1.1); }
  80% { -webkit-transform: scale(0.9); opacity: 1; }  
  100% { -webkit-transform: scale(1); opacity: 1; }   
}

@keyframes fadeIn {
  0% { transform: scale(0); opacity: 0.0; }
  60% { transform: scale(1.1); }
  80% { transform: scale(0.9); opacity: 1;} 
  100% { transform: scale(1); opacity: 1; }   
}

.vehicle-container:hover p, .vehicle-container:hover .crop-01, .vehicle-container:hover .crop-02, .vehicle-container:hover .crop-03, .vehicle-container:hover .crop-04, .vehicle-container:hover .crop-05  { 
visibility: visible;

animation-name: fadeIn; 
-webkit-animation-name: fadeIn; 

animation-duration: 1s;
-webkit-animation-duration: 1s;

animation-timing-function: ease-out; /* smoothes out animation */
-webkit-animation-timing-function: ease-out; /* smoothes out animation */

animation-iteration-count: 1; /* number of times to loop */
-webkit-animation-iteration-count: 1; /* number of times to loop */

animation-fill-mode: forwards; /* keeps animation in its last keyframe */
-webkit-animation-fill-mode: forwards; /* keeps animation in its last keyframe */

}

.vehicle-container:hover .lrlayer-01 { 

animation-name: slideDiagonal; 
-webkit-animation-name: slideDiagonal; 

animation-duration: 1s;
-webkit-animation-duration: 1s;

animation-timing-function: ease-out; /* smoothes out animation */
-webkit-animation-timing-function: ease-out; /* smoothes out animation */

animation-iteration-count: 1; /* number of times to loop */
-webkit-animation-iteration-count: 1; /* number of times to loop */

animation-fill-mode: forwards; /* keeps animation in its last keyframe */
-webkit-animation-fill-mode: forwards; /* keeps animation in its last keyframe */

}

.vehicle-container:hover .lrlayer-02 { 

animation-name: slideRight; 
-webkit-animation-name: slideRight; 

animation-duration: 1s;
-webkit-animation-duration: 1s;

animation-timing-function: ease-out; /* smoothes out animation */
-webkit-animation-timing-function: ease-out; /* smoothes out animation */

animation-iteration-count: 1; /* number of times to loop */
-webkit-animation-iteration-count: 1; /* number of times to loop */

animation-fill-mode: forwards; /* keeps animation in its last keyframe */
-webkit-animation-fill-mode: forwards; /* keeps animation in its last keyframe */

}

.vehicle-container:hover .lrlayer-03 { 

animation-name: slideUp; 
-webkit-animation-name: slideUp; 

animation-duration: 1s;
-webkit-animation-duration: 1s;

animation-timing-function: ease-out; /* smoothes out animation */
-webkit-animation-timing-function: ease-out; /* smoothes out animation */

animation-iteration-count: 1; /* number of times to loop */
-webkit-animation-iteration-count: 1; /* number of times to loop */

animation-fill-mode: forwards; /* keeps animation in its last keyframe */
-webkit-animation-fill-mode: forwards; /* keeps animation in its last keyframe */

}

.vehicle-container:hover .lrlayer-04 { 

animation-name: slideLeft; 
-webkit-animation-name: slideLeft; 

animation-duration: 1s;
-webkit-animation-duration: 1s;

animation-timing-function: ease-out; /* smoothes out animation */
-webkit-animation-timing-function: ease-out; /* smoothes out animation */

animation-iteration-count: 1; /* number of times to loop */
-webkit-animation-iteration-count: 1; /* number of times to loop */

animation-fill-mode: forwards; /* keeps animation in its last keyframe */
-webkit-animation-fill-mode: forwards; /* keeps animation in its last keyframe */

}

/* ------------ Pop Up Text ---------------- */


p.factoid-01, p.factoid-02, p.factoid-03, p.factoid-04, p.factoid-05 {
  width: 250px;
  padding: 24px;
  background-color: #FCB813;
  border-radius: 6px;

}

p.factoid-01 {
  left: 5%;
  top: 26%;
  position: absolute;
  z-index: 0;
}

p.factoid-02 {
  bottom: 25%;
  right: 32%;
  position: absolute;
  z-index: 20;
}

p.factoid-03 {
  position: absolute;
  top: 33%;
  left: -13%;
  z-index: 100;
}

p.factoid-04 {
  position: absolute;
  bottom: 7%;
  left: 23%;
}

p.factoid-05 {
  position: absolute;
  right: 33%;
  top: 9%;
}


/* ------------ Arrows ---------------- */

.crop-01 {
    background-image: url('../images/arrows.png');
    background-repeat: no-repeat;
    background-position: 0 -75px;
    width: 50px !important;
    height: 25px;
    left: 96px;
    top: 358px;
}

  .crop-02 {
    background-image: url('../images/arrows.png');
    background-repeat: no-repeat;
    background-position: 0 -75px;
    width: 50px !important;
    height: 25px;
    left: 375px;
    bottom: 264px;
}

  .crop-03 {
    background-image: url('../images/arrows.png');
    background-repeat: no-repeat;
    background-position: -25px -175px;
    width: 50px !important;
    height: 25px;
    left: 163px;
    top: 300px;
}

  .crop-04 {
    background-image: url('../images/arrows.png');
    background-repeat: no-repeat;
    background-position: 0 -75px;
    width: 50px !important;
    height: 25px;
    left: 218px;
    bottom: 95px;
}

  .crop-05 {
    background-image: url('../images/arrows.png');
    background-repeat: no-repeat;
    background-position: 0 -25px;
    width: 50px !important;
    height: 25px;
    right: 584px;
    top: 228px;
}

/* -------------------------------------------------
           Details Page
-------------------------------------------------- */

.details {
  background: rgb(252, 184, 19);
  border-radius: 12px;
  color: #333;
  font-size: 110%;
  left: 25%;
  margin: 0 auto;
  padding: 2%;
  position: absolute;
  top: 20%;
  width: 700px;

  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
 
}

.details h1 { font-size: 1.3rem; }

.details ul { font-weight: 400; margin-bottom: 2em; }

.details p { visibility: visible; font-weight: 700; }

a.animation-jump { 
  color: #fff; 
  background-color: #fd031c; 
  border-radius: 6px; 
  letter-spacing: 1px;
  padding: 2%; 
  text-transform: uppercase;
}

a.animation-jump:hover {
  background-color: #FD5E2B;
}