/* -----------------------------------------
   01 - Global Tags 
-------------------------------------------

a { text-decoration: none; color: #FCB813; }
a:hover { color: #FEFDC5; }
div.clearfix { clear: both; }
body { font-family: "ff-scala-sans-web", 'Oswald', sans-serif; }

/* -----------------------------------------
   02 - Selectors 
-------------------------------------------*/




/* -----------------------------------------
   03 - Main Menu
-------------------------------------------*/

/* Exploding page menu ------------------- 

nav#menu.relative { position: absolute; width: 100%; z-index: 200; }
div#logo-container { padding: 2%; } /* menu positioning changed for just this page templaate 
div#logo-container img { float: left; }
div#vehicle-menu { float: right; color: #FFF; margin-right: 3%; }
div#vehicle-menu li { float: left; padding: 5% 0 5% 7%; }
div#vehicle-menu ul { list-style: none; display: inline-block; margin: 0; }
body.interactive p { font-weight: 400; }
body.interactive span { font-weight: 700; font-family: "ff-din-web", 'Oswald', sans-serif; }

/* -----------------------------------------
   04 - Media Queries 
-------------------------------------------*/

/* Phones (portrait and landscape) ------- */



/* -----------------------------------------
   05 - Animation
-------------------------------------------*/

/* Vehicle ------------------------------- */

/* From Burger 

body, html {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.lightrail .vehicle { height: 710px; }

section {display: block;}

/* ---------------------------- */

#layer-01 {
	background-image: url("../images/layer-01.svg");
	background-repeat: no-repeat;
	height: 730px;
	left: 235px;
	top: -15px;
	z-index: 100;
} 

#layer-02 {
	background-image: url("../images/layer-02.svg");
	background-repeat: no-repeat;
	height: 700px;
	left: 248px;
	top: 5px;
	z-index: 80;
} 

#layer-03 {
	background-image: url("../images/layer-03.svg");
	background-repeat: no-repeat;
	height: 100%; /* 880px */
	left: 220px;
	top: -43px;
	z-index: 60;
}

#layer-04 {
	background-image: url("../images/layer-04.svg");
	background-repeat: no-repeat;
	height: 700px;
	left: 245px;
	top: 0px;
	z-index: 40;
}

#layer-05 {
	background-image: url("../images/layer-05.svg");
	background-repeat: no-repeat;
	height: 700px;
	left: 248px;
	top: 0px;
	z-index: 20;
}

